* {
    margin: 0;
    padding: 0;
    /* background-color: #1b1b32; */
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: clamp(1.0em, 1.6em, 2.0em);
    text-transform: uppercase;
    letter-spacing: 4px;
  } 
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background:#03A688;
    height: 8vh;
    width: 100%;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    padding: 15px;
  }
  
  .container {
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: 'MedievalSharp', cursive;
  }
  
  #search-box {
    background: #fff;
    padding:  10px;
    border-radius: 6px;
    outline: 0;
    border: 0;
  }
/* Estilos para a seção do carrinho */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
}

.image-section {
  width: 100px;
  margin-right: 20px;
}

.image-sec {
  max-width: 100%;
  height: auto;
}

.text-section {
  flex: 1;
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333; /* Cor do título */
}

p {
  font-size: 1em;
  color: #333; /* Cor do texto */
  line-height: 1.4;
}

.but {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.excluir {
  background-color: rgb(209, 20, 20);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.excluir:hover {
  background-color: rgb(209, 20, 20);
}

#total {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.final{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finalizar{
    width: 340px;
    padding: 20px 10px;
    background: #FFF;
    border: solid 1px white;
    border-radius: 20px;
    background-color: rgb(209, 20, 20);
    color: #FFF;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
    font-weight: bold;
    border-color: black;
    text-decoration: none;
    cursor: pointer;
}