* {
  margin: 0;
  padding: 0;
  /* background-color: #1b1b32; */
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: clamp(1.0em, 1.6em, 2.0em);
  text-transform: uppercase;
  letter-spacing: 4px;
} 

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background:#03A688;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.container {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: 'MedievalSharp', cursive;
}

#search-box {
  background: #fff;
  padding:  10px;
  border-radius: 6px;
  outline: 0;
  border: 0;
}

/* Carrosel de Imagem */

section.slider{
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  height: 50%;
  padding: 0 !important;
  overflow: hidden;
}


.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input{
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img{
  width: 100%;
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}

/* Card produtos */

body{
  height: 100vh;
  font-family: 'Roboto Slab', serif;
}

.cards{
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;

}
.card{
  background-color: white;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: solid 1px black;
  gap: 20px;
}
.image-section{
width: 100%;

}
.image-sec{
 width: 100%;
 border-top-right-radius: 20px;
 border-top-left-radius: 20px;

}
.text-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;
}
.text-section p{
  margin-top: 5px;
  text-align: justify;
}
.price{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.price p{
  font-size: 20px;
  color: rgb(7, 106, 7);
}
.but{
  border: none;
  outline: none;
  background-color: rgba(8, 75, 8, 0.491);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}
.but:hover{
  transition: .5s linear;
  transform: scale(1.1);
}
